:root {
    --wood: url("../images/wood.jpg");
    --ivory: url("../images/paper.jpg");
    --sb: #194099;
    --darksb: #2950a9;
    --darkersb: #6a84a0;
    --blue: url("../images/blue.jpg");
    --shadow: #111111;
    --paper: url("../images/white.jpg");
    --stitch: url("../images/stitch.jpg");
    --food-drink: url("../images/food-drink.jpg");
    --white: #eeeeee;
    --sec: #68829e;
    --sec-2: #7892ae;
    --background: #decac3;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: var(--shadow);
  background-image: var(--paper);
  animation: fadeEffect 400ms;
  background-position: top;
  height: 100vh;
}

@keyframes fadeEffect {
  from {opacity: 0.6;}
  to {opacity: 1;}
}

@keyframes fadeEffectTotal {
  from {opacity: 0;}
  to {opacity: 1;}
}

.nav-bar {
  font-size: 40px;
  font-weight: 900;
  color: var(--white);
  background-color: var(--shadow);
  border: solid var(--shadow);
  border-width: 0px 0px 4px 0px;
  height: 105px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px var(--shadow);
}

.off {
  background-image: var(--wood);
  height: 101px;
  opacity: 0.8;
}

.off-left {
  box-shadow: inset 0px 0px 10px 1px var(--shadow);
}

.off-right {
  box-shadow: inset 0px 0px 10px 1px var(--shadow);
}

.timely-logo {
  /*font-family: Snell Roundhand;*/
  font-family: 'Seaweed Script', cursive;
  font-size: 70px;
  height: 100px;
  font-weight: 500;
}

.timely-logo:hover {
  cursor: pointer;
}

.log-in-box {
  background-image: var(--ivory);
  border: solid var(--shadow);
  border-width: 4px;
  border-radius: 1px;
  height: 186px;
  box-sizing: border-box;
  padding: 30px 0px 0px 0px;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
  background-size: cover;
}

.options-box {
  background-image: var(--ivory);
  border: solid var(--shadow);
  border-width: 4px;
  border-radius: 1px;
  height: 178px;
  box-sizing: border-box;
  padding: 30px 0px 0px 0px;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
  background-size: cover;
  margin-top: 30px;
}

.btn {
  font-size: 22px !important;
  border-width: 0px 10px;
  font-weight: 550 !important;
  transition: 250ms;
  border-radius: 5px;
  letter-spacing: 5px;
  font-family: Oswald;
  padding-bottom: 8px !important;
}

.btn:hover {
  border-width: 0px 0px;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn-log-in {
  height: 44px;
  margin-bottom: 30px;
  border-width: 0px 10vw;
  width: 100%;
  border-radius: 1px;
}

.btn-log-in:hover {
  width: 100%;
  border-width: 0px;
}

.btn-primary {
  color: var(--white);
  background-color: var(--sb);
  border-color: var(--shadow);
}

.btn-primary:hover {
  color: var(--white);
  background-color: var(--darksb);
  border-color: var(--shadow);
}

.btn-primary:focus, .btn-primary:active {
  color: var(--white);
  background-color: var(--darksb);
  border-color: var(--shadow);
}

.btn-secondary {
  color: var(--white);
  background-color: var(--sec);
  border-color: var(--shadow);
}

.btn-secondary:hover {
  color: var(--white);
  background-color: var(--sec-2);
  border-color: var(--shadow);
}

.btn-secondary:focus, .btn-secondary:active {
  color: var(--white);
  background-color: var(--sec-2);
  border-color: var(--shadow);
}

.shadow {
  box-shadow: inset 0px 0px 5px 0px var(--shadow);
}

.question {
  color: var(--shadow);
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 550;
  margin-top: 20px;
}

.interest {
  color: var(--shadow);
  font-size: 24px;
  font-weight: 550;
  background-image: var(--paper);
  border: solid 4px;
  border-color: var(--background);
  border-radius: 24px;
  width: 15.85%;
  height: 145px;
  margin: 20px 10px 0px 10px;
  display: inline-block;
  transition: 250ms;
  opacity: 0.6;
  background-size: cover;
}

.interest:hover {
  cursor: pointer;
  opacity: 1 !important;
  color: var(--darksb) !important;
  border-color: var(--darksb) !important;
}

.blue-shadow {
  box-shadow: inset 0px 0px 1px 0px var(--darkersb);
}

.blue-shadow-L {
  box-shadow: inset 0px 0px 5px 0px var(--darkersb);
}

.btn-size-S {
  font-size: 16px;
  width: 160px;
  height: 40px;
  padding-top: 4px !important;
}

.btn-size-M {
  font-size: 24px;
  width: 200px;
  height: 50px;
  padding-top: 5px !important;
}

.btn-size-L {
  font-size: 32px;
  width: 240px;
  height: 60px;
}

.btn-space {
  width: 33.33%;
  margin-top: 35px;
}

.note {
  font-size: 18px;
  font-style: italic;
  margin: 20px;
}

.tab {
  background-color: var(--shadow);
  color: var(--white);
  border: none;
  outline: none;
  width: 15%;
  letter-spacing: 5px;
  height: 101px;
  float: left;
  transition: 250ms;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
  padding: 2px 0px 0px 0px !important;
}

.wood {
  height: 51px;
  background-image: var(--wood);
  width: 20%;
  float: left;
}

.forty {
  font-size: 24px;
  font-weight: 900;
  height: 51px;
  float: left;
}

.forty-four {
  height: 55px;
}

.tab:hover {
  background-image: none;
  background-color: var(--white);
  color: var(--shadow);
}

.active {
  background-image: none;
  background-color: var(--white);
  color: var(--shadow);
}

.active:hover {
  background-color: var(--white);
}

.tab-content {
  padding: 30px;
  display: none;
  animation: fadeEffect 400ms;
}

#no-hobbies {
  font-size: 28px;
  font-weight: 550;
  font-style: italic;
  background-image: var(--ivory);
  padding-top: 50px;
}

#no-hobbies-social {
  font-size: 28px;
  font-weight: 550;
  font-style: italic;
  background-image: var(--ivory);
  padding-top: 50px;
}

#no-hobbies-progress {
  font-size: 28px;
  font-weight: 550;
  font-style: italic;
  background-image: var(--ivory);
  padding-top: 50px;
}

.hobby {
  background-image: var(--ivory);
  border: solid 4px var(--shadow);
  border-radius: 1px;
  margin-bottom: 30px;
  animation: fadeEffect 400ms;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
  background-size: cover;
}

.hobby-page {
  font-size: 35px;
  font-weight: 900;
  height: 150px;
  padding: 45px 90px;
}

/**/

.hobby-name {
  font-size: 40px;
  font-weight: 700;
  padding-left: 40px;
  margin-top: 140px;
}

.canvas {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.show-toggle button {
  font-weight: 550;
  margin-top: 140px;
  margin-right: 40px;
}

.show-less {
  display: none;
}

.donut {
  margin: 18px 0px 0px 0px;
}

.time-data {
  font-size: 20px;
  display: none;
}

.achievements {
  margin-bottom: 20px;
  display: none;
}

.achievements-title {
  font-size: 50px;
  font-weight: 700;
}

.chart {
  background-color: var(--white);
  margin: 10px 0px;
}

/**/

.btn-danger {
  background-color: #C73232;
  border-color: var(--shadow);
  margin-top: 30px;
}

.btn-danger:hover {
  background-color: #d34c4c;
  border-color: var(--shadow);
}

.log-out-box {
  background-image: var(--ivory);
  border: solid 4px var(--shadow);
  border-radius: 1px;
  height: 178px;
  box-sizing: border-box;
  padding: 41px 0px 0px 0px;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
  background-size: cover;
  margin-top: 230px;
}

#yes {
  width: 178px;
  margin-left: 30px;
}

#cancel {
  width: 178px;
  margin-right: 30px;
}

.message {
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 41px;
}

#top-lines {
  height: 110px;
  font-size: 18px;
  margin: 125px 33.33%;
  line-height: 18px;
  animation: fadeEffectTotal 1.4s;
  font-family: 'Bad Script', cursive;
}

.side-lines {
  background-color: var(--background);
  margin-top: 34px;
  height: 118px;
  box-sizing: border-box;
  border: solid var(--shadow);
  border-width: 44px 0px 44px 0px;
  border-radius: 0px;
  display: block;
}

.btn-wide {
  width: 300px;
}

#options {
  padding-top: 200px;
}

#find-hobby {
  margin-bottom: 30px;
}

#signupbox {
  background-color: var(--shadow);
  padding-top: 30px;
  display: none;
  height: 260px;
  animation: fadeEffect 400ms;
}

.input {
  padding: none;
  margin: 0px 30px;
}

#log-in-box {
  padding-top: 30px;
  display: none;
  height: 260px;
  animation: fadeEffect 400ms;
}

.input input {
  border: none;
  font-size: 18px;
  padding: 10px 14px 9px 14px;
  font-weight: 500;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: inset 0px 0px 1px 0px var(--shadow);
}

#confirm-log-out {
  display: none;
  animation: fadeEffect 400ms;
}

#update-interests {
  margin-top: 10px;
  animation: fadeEffect 400ms;
  display: none;
}

.bottom-lines {
  background-color: var(--background);
  height: 11px;
}

.bottom-lines-extra {
  background-color: var(--background);
  height: 12px;
}

.bl-top {
  height: 30px;
}

.bl-middle {
  background-color: var(--shadow);
  height: 44px;
  animation: fadeEffect 400ms;
}

.bl-bottom {
  height: 34px;
}

.no-pad {
  padding: 0px;
}

#bottom {
  width: 100%;
  height: calc(100vh - 651px);
  background-color: var(--background);
}

.background {
  background-image: none;
  background-color: var(--background);
}

.int {
  display: none;
  animation: fadeEffect 400ms;
}

.fade {
  animation: fadeEffect 400ms;
}

#select-hobby {
  float: none;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 550;
}

#forum-boards {
  background-image: none;
  background-color: lightsteelblue;
  padding: 0px 10px 10px 10px;
}

#forum-title {
  font-size: 50px;
  background-color: lightsteelblue;
  font-weight: 550;
  margin-bottom: 5px;
}

.section-title {
  background-color: lightsteelblue;
  font-size: 30px;
  font-weight: 900;
  margin: 20px 0px 5px 5px;
}

#forum-nav-bar {
  border: solid 2px var(--shadow);
  background-image: var(--ivory);
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0px;
}

#forum-nav-bar a {
  margin: 0px 10px;
}

.board-post {
  border: solid 2px var(--shadow);
  background-image: var(--ivory);
  padding: 10px;
  margin-bottom: 5px;
}

.post-title {
  font-weight: 900;
  font-size: 16px;
}

.post-content {
  font-style: italic;
}

#new-post-button {
  float: right;
  width: 200px;
}

#new-post {
  background-image: var(--ivory);
  border: solid 2px var(--shadow);
  padding: 50px;
  font-size: 16px;
  font-weight: 900;
}

#new-post button {
  margin-bottom: 5px;
}

#new-post-title {
  font-weight: 500;
  width: 500px;
  margin-bottom: 10px;
  margin-right: 80px;
}

.new-post-text {
  width: 80px;
  text-align: right;
  display: inline-block;
  vertical-align: top;
}

#new-post-message {
  font-weight: 500;
  width: 500px;
  margin-bottom: 10px;
  height: 200px;
  margin-right: 80px;
}

#more {
  display: none;
}

#return {
  margin: 20px;
}

.item {
  height: 25vw;
}

.fill-width {
  width: 100%;
}

#myCarousel {
  margin-bottom: 15px;
}

.update {
  margin-top: 10px;
}

#myDIV{
    display: block;
    display: inline-block;

    width:50%;
    text-align:left;
	background-color:#F7F7F7;
    height:250px;
	border:1px solid black;
    overflow-y: scroll;
}

.interest-image {
  width: 100%;
  height: 100px;
  border-radius: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.underline {
  text-decoration: underline;
}

.forum-link {
  color: black;
  text-decoration: underline;
}

.forum-link:hover {
  cursor: pointer;
}

.pages {
  font-weight: 550;
  font-size: 18px;
}

.time-spent {
  font-weight: 900;
  font-size: 16px;
  position: relative;
  top: -162px;
  left: 248px;
  display: none;
}

.inline {
  display: inline-block;
}

.center-image {
  width: 100%;
}

.post {
  margin: 15px 0px;
}

#myDIV {
  padding: 5px;
}
